<%= form_for @user, html: {class: 'form-horizontal', role: 'form'} do |f| %>
    <%= render 'shared/error_messages', :object => @user %>

    <div class="form-group">
      <%= f.label "姓名", class: 'col-sm-3 control-label' %>
      <div class="col-sm-9">
        <div class="input-group">
          <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
          <%= f.text_field :name, class: 'form-control', placeholder: "输入真实姓名" %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "用户名", class: 'col-sm-3 control-label' %>
      <div class="col-sm-9">
        <div class="input-group">
          <div class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></div>
          <%= f.email_field :email, class: 'form-control', placeholder: "输入有效的邮箱" %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "专业", class: 'col-sm-3 control-label' %>
      <div class="col-sm-9">
         <div class="input-group">
          <div class="input-group-addon"><span class="glyphicon glyphicon-home"></span></div>
             <!--<%= f.text_field :major, class: 'form-control', placeholder: "输入专业全称" %>-->
            
            
            <%= f.select( 'major',{"计算机软件与理论"=>"计算机软件与理论","计算机系统结构"=>"计算机系统结构","计算机应用技术"=>"计算机应用技术","通信与信息系统"=>"通信与信息系统","控制理论与控制工程"=>"控制理论与控制工程"}, {:selected => "计算机应用技术"}, :class => "form-control") %>
           
           
          <!--http://apidock.com/rails/ActionView/Helpers/FormOptionsHelper/select-->
          <!--http://www.blogbus.com/bigfacecat-script-logs/74940833.html-->
           
           <!--<div class="form-control">-->
            <!--<%= f.select :major, [["计算机软件与理论", "计算机软件与理论"],["计算机系统结构","计算机系统结构"]], class:'form-control' %>-->
            <!--</div>-->
           <!--<select class="form-control" >-->
           <!--  <option>计算机软件与理论</option>-->
           <!--  <option>计算机系统结构</option>-->
           <!--  <option>计算机应用技术</option>-->
           <!--  <option>通信与信息系统</option>-->
           <!--  <option>控制理论与控制工程</option>-->
           <!-- </select>-->
          </div>
      </div>
    </div>


    <div class="form-group">
      <%= f.label "培养单位", class: 'col-sm-3 control-label' %>
      <div class="col-sm-9">
        <div class="input-group">
          <div class="input-group-addon"><span class="glyphicon glyphicon-home"></span></div>
          <!--<%= f.text_field :department, class: 'form-control', placeholder: "输入培养单位全称" %>-->
          
          <%= f.select( 'department',{"计算机网络信息中心"=>"计算机网络信息中心","电子学研究所"=>"电子学研究所","自动化研究所"=>"自动化研究所","计算技术研究所"=>"计算技术研究所","信息工程研究所"=>"信息工程研究所","国家空间科学中心"=>"国家空间科学中心","高能物理研究所"=>"高能物理研究所","软件研究所"=>"软件研究所","工程热物理研究所"=>"工程热物理研究所"}, {:selected => "计算技术研究所"}, :class => "form-control") %>
          
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "密码", class: 'col-sm-3 control-label' %>
      <div class="col-sm-9">
        <div class="input-group">
          <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
          <%= f.password_field :password, class: 'form-control', placeholder: "输入密码" %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "确认密码", class: 'col-sm-3 control-label' %>
      <div class="col-sm-9">
        <div class="input-group">
          <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
          <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "再次输入密码" %>
        </div>
      </div>
    </div>

    <%= f.submit '注册', class: "btn btn-primary btn-block" %>
    <%= link_to '取消', root_path, :class => "btn btn-default btn-block" %>

<% end %>
