<% provide(:title, @user.name) %>

<div class="row">
  <div class="col-sm-3 sidenav">
    <%= render "users/sidenav" %>
  </div>

  <div class="col-sm-8 ">
    <h3 class="text-muted">Show Profile</h3>
    <hr>
    <ol class="breadcrumb">
      <li><%= link_to "Account " %></a></li>
      <li class="active">My Profile</li>
    </ol>
    <hr>

    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @user.name %></h3>
      </div>
      <div class="panel-body">
        <div class="row">

          <div class="col-md-3 col-lg-3 " align="center">
            <%= image_tag @user.icon.url if @user.icon? %>
          </div>

          <div class=" col-md-9 col-lg-9 ">
            <table class="table table-user-information">
              <tbody>

              <tr>
                <td>Name:</td>
                <td><%= @user.name %></td>
              </tr>

              <tr>
                <td>ID:</td>
                <td><%= @user.number %></td>
              </tr>

              <tr>
                <td>Email:</td>
                <td><%= @user.email %></td>
              </tr>

              <tr>
                <td>Department:</td>
                <td><%= @user.department %></td>
              </tr>

              <tr>
                <td>Role:</td>
                <td><%= @user.role %></td>
              </tr>

              <tr>
                <td>Account Created:</td>
                <td><%= @user.created_at.to_formatted_s(:long) %></td>
              </tr>

              <tr>
                <td>Account Activated:</td>
                <td><%= @user.activated_at.to_formatted_s(:long) %></td>
              </tr>

              <tr>
                <td>Last Updated:</td>
                <td><%= @user.updated_at.to_formatted_s(:long) %></td>
              </tr>

              </tbody>
            </table>

            <%= button_to "Edit Profile", edit_user_path(@user), method: :get, class: "btn btn-info" %>

          </div>
        </div>
      </div>
    </div>

  </div>

</div>
