<div class="container-fluid">
  <div class="row">

    <div class="col-sm-2">
      <%= render "users/sidenav" %>
    </div>

    <div class="col-sm-10">

      <div class="panel panel-primary filterable">
        <div class="panel-heading">
          <h3 class="panel-title">成绩单</h3>
        </div>

        <div class="panel-body">
          <table class="table table-responsive table-condensed table-hover">
            <thead>
            <tr>
              <th>课程编号</th>
              <th>课程名称</th>
              <th>课时/学分</th>
              <th>授课老师</th>
              <th>分数</th>
            </tr>

            <tbody>
            <% @course.each do |course| %>
                <tr>

                  <td>
                    <%= course.course_code %>
                  </td>

                  <td>
                    <%= course.name %>
                  </td>

                  <td>
                    <%= course.credit %>
                  </td>

                  <td>
                    <%= course.teacher.name %>
                  </td>

                  <td>
                    <%= Grade.find_by(course_id: course.id,user_id: @user.id).grade %>
                  </td>

                </tr>
            <% end %>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>