<div class="container">
  <div class="row">
    <div class="col-md-8" style="background-color: #18BC9C;padding-bottom: 10px;padding-top: 10px">
      <div style="font-size: 50px; padding-left: 50px">
        <%= image_tag "profile.png" %>
        Learning RoR!
      </div>

    </div>

    <div class="col-md-4">
      <h1>在线选课系统样本</h1>
      <p>这个样本系统是基于国科大研究生课程(高级软件工程)开发的项目,目的是帮助入门者学习RoR(Ruby on Rails),这是适合新学者的入手的第一个项目</p>
      <p>入门者可以在这个样本系统上增加更多的功能:</p>
      <ul>

        <li class="text-danger">
          处理选课冲突、控制选课人数
        </li>
        <li class="text-danger">
          统计选课学分,增加选课的开放、关闭功能
        </li>
        <li class="text-danger">
          自定义管理员后台
        </li>
        <li class="text-danger">
          基于OAuth的授权登陆
        </li>
        <li class="text-danger">
          Excel格式的数据导入
        </li>
      </ul>

    </div>

  </div>

  <hr>

  <div class="col-sm-10">
    <div class="panel panel-primary">

      <div class="panel-body" style="min-height: 450px">
        <table class="table table-striped table-hover">
          <thead>

          <tr>
            <th>课程编号</th>
            <th>课程名称</th>
            <th>课时/学分</th>
            <th>限选</th>
            <th>已选</th>
            <th>课程属性</th>
            <th>授课方式</th>
            <th>考试方式</th>
            <th>主讲教师</th>

          </tr>
          </thead>
          <tbody>

          <% @course.each do |course| %>
              <tr>

                <td><%= course.course_code %></td>
                <td><%= link_to course.name, detail_course_path(course), class: 'btn-sm' %></td>
                <td><%= course.credit %></td>
                <td><%= course.limit_num %></td>
                <td><%= course.student_num %></td>
                <td><%= course.course_type %></td>
                <td><%= course.teaching_type %></td>
                <td><%= course.exam_type %></td>
                <td><%= course.teacher.name %></td>

              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>
