<div id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- 轮播（Carousel）项目 -->
    <div class="carousel-inner">
      <div class="item active">
        <%= link_to detail_course_path(@course_play_first) do %>
            <%= image_tag @course_play_first.avatar_url(:thumb) if !@course_play_first.avatar.blank? %>
            <%= image_tag "fallback/default.jpg" if @course_play_first.avatar.blank? %>
            <div class="carousel-caption"><%= @course_play_first.name %></div>
        <% end %>
      </div>

      <% @course_play.each do |play| %>
          <div class="item" >
            <%= link_to detail_course_path(play) do %>
                <%= image_tag play.avatar_url(:thumb) if !play.avatar.blank? %>
                <%= image_tag "fallback/default.jpg" if play.avatar.blank? %>
                <div class="carousel-caption"><%= play.name %></div>
            <% end %>
          </div>
      <% end %>

    </div>
    <!-- 轮播（Carousel）导航 -->
    <a class="carousel-control left" href="#myCarousel"
       data-slide="prev">&lsaquo;
    </a>
    <a class="carousel-control right" href="#myCarousel"
       data-slide="next">&rsaquo;
    </a>
  </div>



  <hr>




  <div class="container">



  <div class="col-sm-12">
    <div class="panel">

      <div class="panel-body" style="min-height: 450px">
        <table class="table table-striped table-hover">
          <thead>

          <tr>
            <th>课程编号</th>
            <th>课程名称</th>
            <th>课时/学分</th>
            <th>课程属性</th>
            <th>授课方式</th>
            <th>考试方式</th>
            <th>主讲教师</th>


          </tr>
          </thead>
          <tbody>

          <% @course.each do |course| %>
              <tr>

                <td><%= course.course_code %></td>
                <td><%= link_to course.name, detail_course_path(course), class: 'btn-sm' %></td>
                <td><%= course.credit %></td>
                <td><%= course.course_type %></td>
                <td><%= course.teaching_type %></td>
                <td><%= course.exam_type %></td>
                <td><%= course.teacher.name %></td>

              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>