<%= form_for @course, html: {class: 'form-horizontal', role: 'form'} do |f|%>
    <%= render 'shared/error_messages', :object => @course %>

    <div class="form-group">
      <%= f.label "课程编号", class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <div class="input-group">
          <div class="input-group-addon"><span class="glyphicon glyphicon-arrow-right"></span></div>
          <%= f.text_field :course_code, class: 'form-control', placeholder: "输入课程编号" %>
        </div>
      </div>
    </div>
    
    <div class="form-group">
      <%= f.label "课程名", class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <div class="input-group">
          <div class="input-group-addon"><span class="glyphicon glyphicon-arrow-right"></span></div>
          <%= f.text_field :name, class: 'form-control', placeholder: "输入课程名" %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "课程属性", class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <div class="input-group">
          <div class="input-group-addon"><span class="glyphicon glyphicon-arrow-right"></span></div>
          
             <%= f.select( 'course_type',{"专业课"=>"专业课","一级学科核心课"=>"一级学科核心课",
             "一级学科普及课"=>"一级学科普及课","一级学科研讨课"=>"一级学科研讨课",
             "专业核心课"=>"专业核心课","专业普及课"=>"专业普及课","公共选修课"=>"公共选修课"}, 
             {:selected => "专业课"}, :class => "form-control") %>
          
          <!--<%= f.text_field :course_type, class: 'form-control', placeholder: "输入课程属性" %>-->
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "授课方式", class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <div class="input-group">
          <div class="input-group-addon"><span class="glyphicon glyphicon-arrow-right"></span></div>
          
          <%= f.select( 'teaching_type',{"授课、讨论"=>"授课、讨论","课堂讲授为主"=>"课堂讲授为主",
          "讲课、上机"=>"讲课、上机","讲课、实验"=>"讲课、实验"}, 
          {:selected => "授课、讨论"}, :class => "form-control") %>
          
          <!--<%= f.text_field :teaching_type, class: 'form-control', placeholder: "输入授课方式" %>-->
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "考试方式", class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <div class="input-group">
          <div class="input-group-addon"><span class="glyphicon glyphicon-arrow-right"></span></div>
          
          <%= f.select( 'exam_type',{"大开卷"=>"大开卷","课堂开卷"=>"课堂开卷","闭卷考试"=>"闭卷考试",
          "读书报告"=>"读书报告","其他（需说明）"=>"其他（需说明）"}, 
          {:selected => "闭卷考试"}, :class => "form-control") %>
          
          <!--<%= f.text_field :exam_type, class: 'form-control', placeholder: "输入考试方式" %>-->
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "限选人数", class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <div class="input-group">
          <div class="input-group-addon"><span class="glyphicon glyphicon-arrow-right"></span></div>
          <%= f.text_field :limit_num, class: 'form-control', placeholder: "输入限选人数" %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "课时学分", class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <div class="input-group">
          <div class="input-group-addon"><span class="glyphicon glyphicon-arrow-right"></span></div>
          
           <%= f.select( 'credit',{"28/0.5"=>"28/0.5","32/0.5"=>"32/0.5","20/1.0"=>"20/1.0","24/1.0"=>"24/1.0", "30/1.5"=>"30/1.5","40/2.0"=>"40/2.0","40/3.0"=>"40/3.0","50/4.0"=>"50/4.0","60/3.0"=>"60/3.0","60/4.0"=>"60/4.0","60/5.0"=>"60/5.0"}, {:selected => "40/3.0"}, :class => "form-control") %>
          
          <!--<%= f.text_field :credit, class: 'form-control', placeholder: "输入课时学分" %>-->
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "教室", class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <div class="input-group">
          <div class="input-group-addon"><span class="glyphicon glyphicon-arrow-right"></span></div>
          <div class="form-control">
           <%= f.text_field :class_room, id: "course_address",placeholder: "教1-101",  readonly: true,  style: "background-color:#bfbfbf;appearance:none;width:20%;"  %>
            <input style="appearance:none;width:20%;"  value = "101" id = "courseroom_index" placeholder="房间号" onchange="setValue('courseroom_index')" >
          <!--  <class="coursetake_week" id= "coursetake_week" style="appearance:none;width:20%" onchange="setValue('courseTime')">-->
            
            <label > <input type="radio" name="courseroom" value="教1" onclick="setValue('courseroom')" checked="true" >教1</label>
            <label > <input type="radio" name="courseroom" value="教2" onclick="setValue('courseroom')"  >教2</label>
            <label > <input type="radio" name="courseroom" value="学1" onclick="setValue('courseroom')"  >学1</label>
            <label > <input type="radio" name="courseroom" value="学2" onclick="setValue('courseroom')"  >学2</label>
            <label > <input type="radio" name="courseroom" value="图书馆" onclick="setValue('courseroom')" >图书馆</label>
            
            <!-- <%= f.text_field :class_room, class: 'form-control', placeholder: "输入教室"  %>-->
          </div>
        </div>
      </div>
    </div>
    
    
    <div class="form-group">
      <%= f.label "上课周数", class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <div class="input-group">
          <div class="input-group-addon"><span class="glyphicon glyphicon-arrow-right"></span></div>
           <div class="form-control">
          <%= f.text_field :course_week, id:"courseweek",class: 'courseweek',placeholder: "第1-18周", value: "第1-18周",  readonly: true,  style: "background-color:#bfbfbf;appearance:none;width:20%;" %>
          <label>第</label>
          <input style="appearance:none;width:20%;" id="courseweek1"  placeholder="开课周" onchange="setValue('courseweek')" >
          <label>-</label>
          <input style="appearance:none;width:20%;" id="courseweek2"  placeholder= "结课周" onchange="setValue('courseweek')" >
          <label>周</label>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "上课时间", class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <div class="input-group">
          <div class="input-group-addon"><span class="glyphicon glyphicon-arrow-right"></span></div>
          
          <div class="form-control">
            
            <%= f.text_field :course_time, id: "courseTime", placeholder: "周一(1-2)", value: "周一(1-2)", class: 'courseTime', readonly: true,  style: "background-color:#bfbfbf" %>
            
             <select class="coursetake_week" id= "coursetake_week" style="appearance:none;width:20%" onchange="setValue('courseTime')">
             <option selected=true>周一</option>
             <option>周二</option>
             <option>周三</option>
             <option>周四</option>
             <option>周五</option>
             <option>周六</option>
             <option>周日</option>
            </select>
            <select class="coursetake_time" id="coursetake_time" style="appearance:none;width:20%" onchange="setValue('courseTime')">
             <option selected=true>1-2</option>
             <option>1-3</option>
             <option>1-4</option>
             <option>2-4</option>
             <option>3-4</option>
             <option>5-6</option>
             <option>5-7</option>
             <option>5-8</option>
             <option>7-8</option>
             <option>9-11</option>
            </select>
          
            </div>          

          
          <!--<%= date_select({},{}) %>-->
          <!--<%= f.text_field :course_time, class: 'form-control', placeholder: "输入课时学分" %>-->
        </div>
      </div>
    </div>

    <script type= "text/javascript">
     function setValue(idname)
     {
      // alert(idname == "courseTime");
      if(idname == "courseTime")
      {
        
         document.getElementById(idname).value = document.getElementById("coursetake_week").value+"("+document.getElementById("coursetake_time").value+")";
      }
      else if(idname == "courseroom" || idname == "courseroom_index")
      {
        radioValue = getCheckedRadio("courseroom");
        document.getElementById("course_address").value = radioValue+"-"+document.getElementById("courseroom_index").value;
      }
      else
      {
       document.getElementById(idname).value = "第"+document.getElementById("courseweek1").value+"-"+document.getElementById("courseweek2").value+"周";
      }
           // alert(document.getElementById("courseTime").value);   
      
     }
     
     
     function getCheckedRadio(radio_name)
     {
        var chkObjs = document.getElementsByName(radio_name); 
        // alert(chkObjs.length);
        for(var i=0;i<chkObjs.length;i++){ 
        if(chkObjs[i].checked)
          {
            
            return chkObjs[i].value;
          }
        }
     }
      </script>
     
      
  <!--    <script type= "text/javascript">-->
  <!--   function setValue1()-->
  <!-- {-->
  <!--   document.getElementById("classroom").value = document.getElementById("courseroom").value+"-"+document.getElementById("courseroom1").value+;-->
  <!--  }-->
  <!--   </script>-->
  <!--<script type= "text/javascript">-->
  <!--function setValue2()-->
  <!-- {-->
  <!--    document.getElementById("courseweek").value = "第"+document.getElementById("courseweek1").value+"-"+document.getElementById("courseweek2").value+"周";-->
     
  <!--   }-->
  <!--   </script>-->
    <%= f.submit '提交', class: "btn btn-success btn-block" %>
    <%= link_to '取消', courses_path, :class => "btn btn-default btn-block" %>
    

<% end %>
