<div class="panel-body" style="min-height: 450px">
          <table class="table table-striped table-hover">
            <thead>

            <tr>
              <th>课程编号</th>
              <th>课程名称</th>
              <th>课时/学分</th>
              <th>上课时间</th>
              <th>限选/已选</th>
              <th>课程属性</th>
              <th>主讲教师</th>

            </tr>
            </thead>
            <tbody>

            <% @@Listed_Courses.each do |course| %>
                <tr>
                  <td><%= course.course_code %></td>
                  <td><%= course.name %></td>
                  <td><%= course.period.to_s + "/" + course.credit.to_s %></td>
                  <% time_str1 = "第#{course.start_week}~#{course.end_week}周" %>
                  <% time_str2 = Hashes.time_to_str(course.course_time) %>
                  <td><%= time_str1 %><br><%= time_str2 %></td>
                    <% limit_str = "/" + course.student_num.to_s %>
                    <% if (course.limit_num == 0) %>
                      <% limit_str = "不限" + limit_str %>
                    <% else %>
                      <% limit_str = course.limit_num.to_s + limit_str %>
                    <% end %>
                  <td><%= limit_str %></td>
                  <td><%= Hashes.type(course.course_code) %></td>
                  <td><%= course.teacher.name %></td>
                  <td><%= link_to "详细信息", nil, class: "btn-sm btn-info" %></td>
                  <td><%= link_to "选课", select_course_path(course), class: 'btn-sm btn-success' %></td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>