<!--<script type="text/javascript" src="ichart.1.2.min.js"></script>-->
<div style="position:absolute; top:46%; height:77%; left:25%">
  <div id='canvasDiv' style="background_color:'white'"></div>
  </div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <%= render "shared/sidenav" %>
    </div>
    <div class="col-sm-10" style="left:14.5%; width:85.5%; position:absolute">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">选课学分提示<button style= "width:12%;height:95%;padding:2px;font-size:13px;color:black;float:right; position:relative" onclick="setChart()">已选课学分图表</button></h3>
          
        </div>
        <table class="table">
        <thead>
          <tr>
            <th>类别</th>
            <th>公共选修课程学分</th>
            <th>专业学位课学分要求</th>
            <th>总学分要求</th>
          </tr>
        </thead>
        <tbody>
          <tr class="active">
            <td>学习要求</td>
            <td>>=2.0学分</td>
            <td>>=12.0学分</td>
            <td>>=30.0学分</td>
          </tr>
          <tr class="success">
            <td>选课情况</td>
             <!--学分提示的方法在course_controller/credittips,不放入视图界面中计算-->
            <td><%= @chosen_credit_public %>学分</td>
            <td><%= @chosen_credit_major %>学分</td>
            <td><%= @chosen_credit_all %>学分</td>
          </tr>
          <tr class="danger">
            <td>获取学分</td>
            <!--学分计算的方法同样放在course_controller/credittips,不放入视图界面中计算-->
            <td><%= @obtained_credit_pubic %>学分</td>
            <td><%= @obtained_credit_major %>学分</td>
            <td><%= @obtained_credit_all %>学分</td>
          </tr>
        </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script type= "text/javascript">
 
 
 function setChart()
 {
				var data = [
				        	// {name : 'UC浏览器',value : 40.0,color:'#4572a7'},
				        	// {name : 'QQ浏览器',value : 37.1,color:'#aa4643'},
				        	// {name : '欧朋浏览器',value : 13.8,color:'#89a54e'},
				        	// {name : '百度浏览器',value : 1.6,color:'#80699b'},
				        	// {name : '海豚浏览器',value : 1.4,color:'#92a8cd'},
				        	// {name : '天天浏览器',value : 1.2,color:'#db843d'},
				        	{name : '公共选修课已选学分',value : <%= @chosen_credit_public %>,color:'#4572a7'},
				        	{name : '专业学位课已选学分',value : <%= @chosen_credit_major %>,color:'#aa4643'}
			        	];

	        	
				var chart = new iChart.Pie2D({
					render : 'canvasDiv',
					data: data,
					title : {
						text : "<%= current_user.name%>选课学分情况",
						color : '#3e576f'
					},
					footnote : {
						text : '国科大教务处',
						color : '#486c8f',
						fontsize : 11,
						padding : '0 38'
					},
					sub_option : {
						label : {
							background_color:null,
							sign:false,//设置禁用label的小图标
							padding:'0 4',
							border:{
								enable:false,
								color: '#666666',
							},
							fontsize:13,
							fontweight:600,
							color : '#4572a7'
						},
						border : {
							width : 2,
							color : '#ffffff'
						}
					},
					shadow : true,
					shadow_blur : 6,
					shadow_color : '#aaaaaa',
					shadow_offsetx : 0,
					shadow_offsety : 0,
					background_color:'#fefefe',
					offsetx:-60,//设置向x轴负方向偏移位置60px
					offset_angle:-150,//逆时针偏移120度
					showpercent:true,
					decimalsnum:2,
					width : 800,
					height : 400,
					radius:120
				});
				//利用自定义组件构造右侧说明文本
				chart.plugin(new iChart.Custom({
						drawFn:function(){
							//计算位置
							var y = chart.get('originy'),
								w = chart.get('width');
							
							//在右侧的位置，渲染说明文字
							chart.target.textAlign('start')
							.textBaseline('middle')
							.textFont('600 16px Verdana')
							.fillText('公共选修课已选学分 <%= @chosen_credit_public%>\n专业学位课已选学分 <%= @chosen_credit_major%>',w-220,y-40,false,'#be5985',false,20);
						}
				}));
				
				chart.draw();
			}
 
 </script>