<div class="container-fluid">
  <div class="row">

    <div class="col-sm-2">
      <%= render "shared/sidenav" %>
    </div>

    <div class="col-sm-10">

      <div class="panel panel-primary filterable">
        <div class="panel-heading">
          <% if teacher_logged_in? %><h3 class="panel-title">授课列表</h3><% end %>
          <% if student_logged_in? %><h3 class="panel-title">已选课程</h3><% end %>
        </div>

        <div class="panel-body">
          <table class="table table-responsive table-condensed table-hover">
            <thead>
            <tr>
              <th>课程编号</th>
              <th>课程名称</th>
              <th>课时/学分</th>
              <th>考试方式</th>
              <th>主讲教师</th>
            </tr>

            <tbody>
            <% @course.each do |course| %>
                <tr>

                  <td><%= course.course_code %></td>
                  <td><%= course.name %></td>
                  <td><%= course.course_time %>/<%= course.credit %></td>
                  <td><%= course.exam_type %></td>
                  <td><%= course.teacher.name %></td>

                  <% if teacher_logged_in? %>
                      <td><%= link_to "编辑", edit_course_url(course), class: 'btn btn-xs btn-info' %></td>

                      <% if course.open %>
                          <td><%= link_to "关闭", close_course_path(course), class: 'btn btn-xs btn-warning' %></td>
                      <% else %>
                          <td><%= link_to "开课", open_course_path(course),  class: 'btn btn-xs btn-success' %></td>
                      <% end %>
                      <td><%= link_to "删除", course_path(course), :method => "delete", class: 'btn btn-xs btn-danger',
                                      :data => {confirm: '确定要删除此课程?'} %></td>

                  <% elsif student_logged_in? %>
                      <td><%= link_to "删除", '', class: 'btn-sm btn-danger', :data =>{toggle: 'modal', target: '#myModal', path: quit_course_url(course), name: course.name} %></td>
                  <% end %>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">删除课程</h4>
      </div>
      <div class="modal-body"><span id="modal-body-content"></span></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-danger" id="modal-submit">确定</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal -->
</div>

<script>

  /*$(function () {
    $('#modal_form').on('hide.bs.modal', function () {

    });
  });*/

  $('#modal-submit').click(function () {
    window.location.href = $('#modal-submit').attr('href');
  });

    $('#myModal').on('show.bs.modal', function (e) {
    //获取是单击了哪个按钮
    var button = $(e.relatedTarget);
    var name = '确定要删除课程：'+ button.data('name') + '?';
    var url = button.data('path');
    $('#modal-submit').attr('href', url);
    $('#modal-body-content').html(name);
  });

</script>