<div class="container-fluid">
  <div class="row">


    <div class="col-sm-2">
      <%= render "shared/sidenav" %>
    </div>


    <div class="col-sm-10">

      <div class="panel panel-primary filterable">
        <div class="panel-heading">
          <% if teacher_logged_in? %><h3 class="panel-title">授课列表</h3><% end %>
          <% if student_logged_in? %><h3 class="panel-title">已选课程</h3><% end %>
        </div>

        <div class="panel-body">
          <table class="table table-responsive table-condensed table-hover">
            <thead>
            <tr>
              <th>课程编号</th>
              <th>课程名称</th>
              <th>课时/学分</th>
              <th>考试方式</th>
              <th>主讲教师</th>


            </tr>

            <tbody>
            <% @course.each do |course| %>
                <tr>

                  <td><%= course.course_code %></td>
                  <td><%= course.name %></td>
                  <td><%= course.credit %></td>
                  <td><%= course.exam_type %></td>
                  <td><%= course.teacher.name%></td>

                  <% if teacher_logged_in? %>
                      <td><%= link_to "编辑", edit_course_url(course), class: 'btn btn-xs btn-info' %></td>
                      
                      <% if course.open_close then %>
                        <td><%=link_to "关闭", close_course_url(course),class: 'btn btn-xs btn-danger' %><td>
                      <% end %>
                      <% unless course.open_close then %>
                        <td><%=link_to "开课", open_course_url(course),class: 'btn btn-xs btn-info' %><td>
                      <% end %>
                      
                      
                      <td><%= link_to "删除", course_path(course), :method => "delete", class: 'btn btn-xs btn-danger', :data => {confirm: '确定要删除此课程?'} %></td>
                  <% elsif student_logged_in? %>
                      <td><%= link_to "删除", quit_course_path(course), class: 'btn-sm btn-danger' %></td>
                  <% end %>
                </tr>
            <% end %>
            </tbody>
          </table>
          
          
          
          
          
          
                  <% if student_logged_in? %>

                            <td><% sumcredit=0.0 %></td>
                            <td><% sumtime=0 %></td>
                   
                        <% @course.each do |course| %>
                            <tr>
                                  <td><% sumcredit=sumcredit+(course.credit[3]).to_i+((course.credit[4]).to_i)/10 %></td>
                                  <td><% sumtime=sumtime+(course.credit).to_i %></td>
                            </tr>
                        <% end %>
                        
                            <p>您总共选课的学分为:   <span class="label label-info"><%= sumcredit %></span>  </p>
                            <p>您总共选课的课时为:   <span class="label label-info"><%= sumtime %></span>  </p>
      


                      
                  <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
