
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <%= render "shared/sidenav" %>

    </div>
    <div class="col-sm-10" style="left:14%; width:86%; position:absolute; font-size:14px">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">选修课程
            <select id = "keyword_type" style="color:black;left:62%;position:relative;font-size:15px" onclick="setType()">
              <option value=1>课程编号</option>
              <option selected = "selected" value=2>课程名称</option>
              <option value=3>课时/学分</option>
              <option value=4>课程属性</option>
              <option value=5>授课方式</option>
              <option value=6>考试方式</option>
              <option value=7>授课地点</option>
              <option value=8>上课周数</option>
              <option value=9>上课时间</option>
              <option value=10>主讲教师</option>
              </select>
            <input type="text" name="关键词搜索"  style="color:black;padding-left:3px;left:62%;position:relative" id="query_input" maxlength=10/>
            <select id="keyword_select" style="width:17.5%;color:black;padding-left:3px;left:62%;position:relative" id="query_input" maxlength=10>
              <option selected="selected">91M</option>
              </select>
            
            <button style="position:relative;float:right;color:black;font-size:13px;padding:3px;width:4%" onclick="queryCourse()">筛选</button>
            
          </h3>
        </div>
        <div class="panel-body" style="min-height: 100%">
          <table class="table table-striped table-hover">
            <thead>

            <tr>
              <th>课程编号</th>
              <th>课程名称</th>
              <th>课时/学分</th>
              <th>限选</th>
              <th>已选</th>
              <th>课程属性</th>
              <th>授课方式</th>
              <th>考试方式</th>
              <th>授课地点</th>
              <th>上课周数</th>
              <th>上课时间</th>
              <th>主讲教师</th>

            </tr>
            </thead>
            <tbody>

            
            <% @course_true.each do |course| %>
                <tr>

                  <td><%= link_to course.course_code,courseplan_course_url(course) %></td>
					        <td><%= course.name %></a></td>
                  <td><%= course.credit %></td>
                  <td><%= course.limit_num %></td>
                  <td><%= course.student_num %></td>
                  <td><%= course.course_type %></td>
                  <td><%= course.teaching_type %></td>
                  <td><%= course.exam_type %></td>
                  <td><%= course.class_room %></td>
                  <td><%= course.course_week %></td>
                  <td><%= course.course_time %></td>
                  <td><%= course.teacher.name %></td>
                  <td><%= link_to "加入", select_course_path(course), class: 'btn-sm btn-info' %></td>
                  <td><%= link_to "选为学位课", selectasdegree_course_path(course), class: 'btn-sm btn-info' %></td>
                  <td><%= link_to "选为非学位课", select_course_path(course), class: 'btn-sm btn-info' %></td>

                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script type= "text/javascript">
  $(function(){ 
    // alert(document.getElementById("keyword_type").value);
     if(document.getElementById("keyword_type").value == 2 || document.getElementById("keyword_type").value == 10 )
      {
      document.getElementById("query_input").style.display = "inline";
      document.getElementById("keyword_select").style.display = "none";
      }
  }); 

  function setType()
  {
    if(document.getElementById("keyword_type").value == 2 || document.getElementById("keyword_type").value == 10 )
    {
      document.getElementById("query_input").style.display = "inline";
      document.getElementById("keyword_select").style.display = "none";
    }
    if(document.getElementById("keyword_type").value == 1)
     {
       document.getElementById("query_input").style.display = "none";
       document.getElementById("keyword_select").style.display = "inline";
     }
     else
      {
        document.getElementById("query_input").style.display = "none";
      }
  }
  
  function queryCourse()
  {
    // alert
    window.location.href = "<%= filter_courses_path %>"+"?query="+document.getElementById("query_input").value;
  }
</script>

